{% extends "base_landing_page.html" %}
{% block content %}
<center><h2>Tapestry</h2><h4>Chrome browser history meets open graph tag and pinterest</h4></center>

<p>To install Tapestry, visit the <a href="https://chrome.google.com/webstore/category/extensions">Chrome Extension Store</a>.</p>

<p>What is open graph? The <a href="http://ogp.me/">Open Graph protocol</a> enables any web page to become a rich object in a social graph. For instance, this is used on Facebook to allow any web page to have the same functionality as any other object on Facebook.</p>

<h5>Excited about the power of Tapestry? Let us know your thoughts at tapestryteam@gmail.com.</h5>
{% endblock %}
